.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
    -fx-border-color: #7b9479;
    -fx-border-radius: 30;
}

.search-box2{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
    -fx-border-color: #7b9479;
    -fx-border-radius: 15;
}

.infor-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
    -fx-border-color: #7b9479;
    -fx-border-radius: 5;
}

.invoice-box {
	-fx-border-color: #3e864b;
	-fx-border-radius: 10;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #7ac74f;
    -fx-background-radius: 30;
}

.button{
    -fx-background-color: #7ac74f;
    -fx-background-radius: 15;
}

.button-red{
    -fx-background-color: #c32f27;
    -fx-background-radius: 15;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #33673b, #579745);
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #33673b, #579745);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-view .cell {
    -fx-font-size: 16px;
}

.rounded-corner {
    -fx-background-radius: 15px;
}

.text-field-placeholder {
    -fx-text-fill: gray;
    -fx-opacity: 0.6; 
}


.progress-bar-green .track {
    -fx-background-color: #ffff; 
    -fx-border-width: 2px; 
    -fx-border-color: #7ac74f; 
    -fx-border-radius: 20
}

.progress-bar-green .bar {
    -fx-background-color: #FFD166; 
}